In [9]:
import warnings
warnings.filterwarnings(action = 'ignore')
#warnings.filterwarnings(action = 'default')

In [11]:
import os
import pandas as pd
from sklearn import model_selection

In [12]:
%pwd

'/home/Sean/iRail_Self_Study/CHS/preporcessing'

In [13]:
os.listdir('/home/Sean/iRail_Self_Study/CHS/')

['archive.zip',
 '.ipynb_checkpoints',
 '01_Pnuemonia.ipynb',
 'RSNA_train_img_1024_png',
 'vgg16.png',
 'vinbigdata-chest-xray-abnormalities-detection.zip',
 'sample_submission.csv',
 'test',
 'train.csv',
 'train',
 'kaggle',
 'train_meta.csv',
 'preporcessing']

In [18]:
df = pd.read_csv("/home/Sean/iRail_Self_Study/CHS/train.csv")
df.head(10)

,image_id,class_name,class_id,rad_id,x_min,y_min,x_max,y_max
0,50a418190bc3fb1ef1633bf9678929b3,No finding,14,R11,NaN,NaN,NaN,NaN
1,21a10246a5ec7af151081d0cd6d65dc9,No finding,14,R7,NaN,NaN,NaN,NaN
2,9a5094b2563a1ef3ff50dc5c7ff71345,Cardiomegaly,3,R10,691.0,1375.0,1653.0,1831.0
3,051132a778e61a86eb147c7c6f564dfe,Aortic enlargement,0,R10,1264.0,743.0,1611.0,1019.0
4,063319de25ce7edb9b1c6b8881290140,No finding,14,R10,NaN,NaN,NaN,NaN
5,1c32170b4af4ce1a3030eb8167753b06,Pleural thickening,11,R9,627.0,357.0,947.0,433.0
6,0c7a38f293d5f5e4846aa4ca6db4daf1,ILD,5,R17,1347.0,245.0,2188.0,2169.0
7,47ed17dcb2cbeec15182ed335a8b5a9e,Nodule/Mass,8,R9,557.0,2352.0,675.0,2484.0
8,d3637a1935a905b3c326af31389cb846,Aortic enlargement,0,R10,1329.0,743.0,1521.0,958.0
9,afb6230703512afc370f236e8fe98806,Pulmonary fibrosis,13,R9,1857.0,1607.0,2126.0,2036.0

In [19]:
df

,image_id,class_name,class_id,rad_id,x_min,y_min,x_max,y_max
0,50a418190bc3fb1ef1633bf9678929b3,No finding,14,R11,NaN,NaN,NaN,NaN
1,21a10246a5ec7af151081d0cd6d65dc9,No finding,14,R7,NaN,NaN,NaN,NaN
2,9a5094b2563a1ef3ff50dc5c7ff71345,Cardiomegaly,3,R10,691.0,1375.0,1653.0,1831.0
3,051132a778e61a86eb147c7c6f564dfe,Aortic enlargement,0,R10,1264.0,743.0,1611.0,1019.0
4,063319de25ce7edb9b1c6b8881290140,No finding,14,R10,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...
67909,936fd5cff1c058d39817a08f58b72cae,No finding,14,R1,NaN,NaN,NaN,NaN
67910,ca7e72954550eeb610fe22bf0244b7fa,No finding,14,R1,NaN,NaN,NaN,NaN
67911,aa17d5312a0fb4a2939436abca7f9579,No finding,14,R8,NaN,NaN,NaN,NaN
67912,4b56bc6d22b192f075f13231419dfcc8,Cardiomegaly,3,R8,771.0,979.0,1680.0,1311.0
67913,5e272e3adbdaafb07a7e84a9e62b1a4c,No finding,14,R16,NaN,NaN,NaN,NaN

In [20]:
df["kfold"] = -1 # kfold라는 column 을 추가한다.

In [21]:
df

,image_id,class_name,class_id,rad_id,x_min,y_min,x_max,y_max,kfold
0,50a418190bc3fb1ef1633bf9678929b3,No finding,14,R11,NaN,NaN,NaN,NaN,-1
1,21a10246a5ec7af151081d0cd6d65dc9,No finding,14,R7,NaN,NaN,NaN,NaN,-1
2,9a5094b2563a1ef3ff50dc5c7ff71345,Cardiomegaly,3,R10,691.0,1375.0,1653.0,1831.0,-1
3,051132a778e61a86eb147c7c6f564dfe,Aortic enlargement,0,R10,1264.0,743.0,1611.0,1019.0,-1
4,063319de25ce7edb9b1c6b8881290140,No finding,14,R10,NaN,NaN,NaN,NaN,-1
...,...,...,...,...,...,...,...,...,...
67909,936fd5cff1c058d39817a08f58b72cae,No finding,14,R1,NaN,NaN,NaN,NaN,-1
67910,ca7e72954550eeb610fe22bf0244b7fa,No finding,14,R1,NaN,NaN,NaN,NaN,-1
67911,aa17d5312a0fb4a2939436abca7f9579,No finding,14,R8,NaN,NaN,NaN,NaN,-1
67912,4b56bc6d22b192f075f13231419dfcc8,Cardiomegaly,3,R8,771.0,979.0,1680.0,1311.0,-1
67913,5e272e3adbdaafb07a7e84a9e62b1a4c,No finding,14,R16,NaN,NaN,NaN,NaN,-1

In [22]:
new_df = df.sample(frac=1)#.reset_index(drop=True) #100%를 이용하여 랜덤 샘플을 할것이다.
new_df

,image_id,class_name,class_id,rad_id,x_min,y_min,x_max,y_max,kfold
55207,f9dba298e6b5f764019c97a7636f184e,No finding,14,R5,NaN,NaN,NaN,NaN,-1
43805,1a15da91ec46d4887b40c65866fba831,No finding,14,R6,NaN,NaN,NaN,NaN,-1
61735,4a2dec8f7163be64ef67f0d09056c921,Lung Opacity,7,R8,372.0,1406.0,1082.0,1859.0,-1
46204,78faf91d607511da380a6cc4f0a335d1,Calcification,2,R8,747.0,1693.0,801.0,1739.0,-1
49231,84a27b87601b81cd39889ced2d489f70,Other lesion,9,R9,1273.0,78.0,1590.0,1801.0,-1
...,...,...,...,...,...,...,...,...,...
1183,d88889702d40b5b13d15fe27608816a2,No finding,14,R11,NaN,NaN,NaN,NaN,-1
21399,427cee14f796b7a14074226155892f7c,No finding,14,R14,NaN,NaN,NaN,NaN,-1
22013,66332eb5425bcdc6854aae970cc656b9,Nodule/Mass,8,R8,1978.0,566.0,2051.0,630.0,-1
8231,0dc7b1615100b4f5d3ae294bae0d5d43,Consolidation,4,R10,275.0,941.0,874.0,1530.0,-1
8929,e31be972e181987a8600a8700c1ebe88,Lung Opacity,7,R10,615.0,1063.0,902.0,1356.0,-1

In [23]:
df = df.sample(frac=1).reset_index(drop=True) # Shuffle로 변한 순서이름을 reset해준다.
df

,image_id,class_name,class_id,rad_id,x_min,y_min,x_max,y_max,kfold
0,154ef5cf058769e87c5a0e624f34199e,No finding,14,R8,NaN,NaN,NaN,NaN,-1
1,273a53879b3ba9afa3d6d1e3aea0a453,ILD,5,R9,1660.0,1154.0,2184.0,2293.0,-1
2,ab1b2498d8770cdc4e45374618612fa3,No finding,14,R12,NaN,NaN,NaN,NaN,-1
3,9dc2037ca1424465db0c4fe2972767f0,Infiltration,6,R9,1738.0,1710.0,1984.0,2019.0,-1
4,4b56bc6d22b192f075f13231419dfcc8,Pleural effusion,10,R9,1644.0,1036.0,1847.0,1326.0,-1
...,...,...,...,...,...,...,...,...,...
67909,fa5f06ba5deade163b028b37cfe68901,Pleural thickening,11,R8,589.0,521.0,1202.0,941.0,-1
67910,00675cd546313f912cadd4ad54415d69,Aortic enlargement,0,R9,1319.0,821.0,1726.0,1156.0,-1
67911,7818fb1b87d3e5db37218f019278d6bd,No finding,14,R14,NaN,NaN,NaN,NaN,-1
67912,314b28b21a620ea16d0de1103157b37d,Pleural thickening,11,R9,1424.0,202.0,1914.0,493.0,-1
67913,2b4350b0495a67a2381af182f77b8465,No finding,14,R17,NaN,NaN,NaN,NaN,-1

In [24]:
y = df.class_id.values
y

array([14,  5, 14, ..., 14, 11, 14])

In [31]:
df.class_id.nunique() # 15개의 질환이 있다는것을 알수 있다.

15

In [32]:
df.image_id.nunique() # 15개의 질환이 있다는것을 알수 있다.

15000

In [33]:
15000/67913 # rad_id에 의해 duplication이 존재하는것 같다.

0.22087082001973113

In [34]:
kf = model_selection.GroupKFold(n_splits = 5)
kf

GroupKFold(n_splits=5)

In [35]:
for f, (t_, v_) in enumerate(kf.split(X=df, y=y, groups=df.image_id.values)):
    df.loc[v_, "kfold"] = f

In [36]:
df

,image_id,class_name,class_id,rad_id,x_min,y_min,x_max,y_max,kfold
0,154ef5cf058769e87c5a0e624f34199e,No finding,14,R8,NaN,NaN,NaN,NaN,2
1,273a53879b3ba9afa3d6d1e3aea0a453,ILD,5,R9,1660.0,1154.0,2184.0,2293.0,3
2,ab1b2498d8770cdc4e45374618612fa3,No finding,14,R12,NaN,NaN,NaN,NaN,0
3,9dc2037ca1424465db0c4fe2972767f0,Infiltration,6,R9,1738.0,1710.0,1984.0,2019.0,1
4,4b56bc6d22b192f075f13231419dfcc8,Pleural effusion,10,R9,1644.0,1036.0,1847.0,1326.0,2
...,...,...,...,...,...,...,...,...,...
67909,fa5f06ba5deade163b028b37cfe68901,Pleural thickening,11,R8,589.0,521.0,1202.0,941.0,2
67910,00675cd546313f912cadd4ad54415d69,Aortic enlargement,0,R9,1319.0,821.0,1726.0,1156.0,2
67911,7818fb1b87d3e5db37218f019278d6bd,No finding,14,R14,NaN,NaN,NaN,NaN,3
67912,314b28b21a620ea16d0de1103157b37d,Pleural thickening,11,R9,1424.0,202.0,1914.0,493.0,2
67913,2b4350b0495a67a2381af182f77b8465,No finding,14,R17,NaN,NaN,NaN,NaN,1

In [37]:
df.to_csv("train_folds.csv", index=False)